private-key.json
firebase_config.py
firebase-config.ts
.env
hania.png
janusz3.png

# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log
